.page {
  min-block-size: 100vh;
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
}

.header {
  padding-block-end: 0;
}

.content-wrapper {
  display: grid;
  flex-grow: 1;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  gap: 20px;
  padding-inline: 15px;
  padding-block: 30px;
}

.sorting__list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  align-self: center;
}

.sorting__btn {
  border: 2px solid currentColor;
  border-radius: 50px;
  padding-inline: 12px;
  padding-block: 5px;
  font-family: 'Roboto-Medium';
  background-color: transparent;
  transition: ease 0.3s;
  cursor: pointer;
}

.sorting__btn:hover {
  background-color: rgba(255, 255, 255, .5);
}

.sorting__btn-all:hover {
  background-color: rgba(255, 255, 255, .5);
}

.sorting__btn-black:hover {
  background-color: rgba(0, 0, 0, .3);
}

.sorting__btn-red:hover {
  background-color: color-mix(in srgb, var(--wine-color), transparent 50%);
}

.sorting__btn-pink:hover {
  background-color: rgba(255, 151, 187, .7);
}

.sorting__btn-white:hover {
  background-color: rgba(218, 255, 149, .5);
}

.cards__container-list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-self: center;
  gap: 20px;
  align-self: center;
  inline-size: 345px;
  min-block-size: 80vh;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  padding: 20px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, .6);
  background-color: var(--button-text-color);
  transition: ease .2s;
  inline-size: 345px;
  min-block-size: 300px;
  max-block-size: 750px;
}

.card:hover {
  box-shadow: 0px 15px 27px rgba(0, 0, 0, .4);
  transform: translate(0, -3px);
}

.card__decor {
  position: absolute;
}

.decor-top {
  z-index: 0;
  inline-size: 250px;
  block-size: 150px;
  left: 14px;
  top: 14px;
}

.decor-bottom {
  inline-size: 150px;
  block-size: 100px;
  right: 14px;
  top: 232px;
  border-bottom-right-radius: 45px;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card__image-wrapper {
  position: relative;
  display: flex;
  border-bottom-right-radius: 40px;
  overflow: hidden;
  transition: ease 0.3s;
  inline-size: 306px;
  block-size: 306px;
}

.card__image-wrapper:hover {
  cursor: pointer;
}

.card__image-wrapper::after {
  content: '';
  position: absolute;
  inset: 0 0 0 0;
  background-image: url(../images/zoom.svg);
  background-repeat: no-repeat;
  background-position: 255px 255px;
  background-size: 30px 30px;
  transition: ease .3s;
}

.card__image-wrapper:hover::after {
  background-color: rgba(0, 0, 0, .2);
}

.card__img {
  object-fit: cover;
  transition: ease .3s;
  inline-size: 306px;
  block-size: 306px;
}

.card__img:hover {
  transform: scale(1.05);
}

.card__title {
  font-size: 24px;
  line-height: 26px;
}

.card__description {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
}

.card__buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card__price {
  font-family: 'Roboto-medium', sans-serif;
  font-size: 22px;
}

.card__button-popup {
  border: none;
  border-radius: 10px;
  padding: 0;
  color: currentColor;
  font-family: 'Roboto-light', sans-serif;
  font-size: 18px;
  text-decoration: underline;
  background-color: transparent;
  transition: ease .3s;
}

.card__button-popup::after {
  display: none;
}

.card__button-popup:hover {
  color: rgba(217, 17, 5, 1);
}

.card__parameters-wrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
  overflow: hidden;
  block-size: 160px;
}

.card-parameters {
  font-family: 'Roboto-light', sans-serif;
  font-size: 14px;
}

.card-parameters span {
  font-family: 'Roboto-medium';
}

.price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__price {
  font-family: 'Roboto-medium';
  font-size: 22px;
}

.card__price-sign {
  font-size: 22px;
}

.btn__basket {
  position: relative;
  padding: 8px 0;
  font-size: 18px;
  inline-size: 125px;
}

.animated-gradient {
  background-image: linear-gradient(45deg, #F17C58, #E94584, #24AADB, #27DBB1, #FFDC18, #FF3706);
  background-size: 500% 400%;
  animation: gradient 1.2s ease infinite;
}

.red-outline {
  background-image: linear-gradient(135deg, #FF1818, #f677d5);
}

.black-outline {
  background-image: linear-gradient(45deg, #831212, #6D3580);
}

.pink-outline {
  background-image: linear-gradient(135deg, #eec0c8, #F56D91);
}

.white-outline {
  background-image: linear-gradient(135deg,  #DCE35B, #45B649);

}

.technical-outline {
  background-image: linear-gradient(315deg, #686D76, #FFFFFF, #686D76);
}

.wine-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  background-image: url(../images/wine.svg);
  background-repeat: no-repeat;
  inline-size: 30px;
  block-size: 80px;
}

.left-panel__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;

}

.search-field {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0;
  border: none;
  padding: 0;
  inline-size: 100%;
}

.search-input {
  border: 2px solid currentColor;
  border-radius: 8px;
  padding-inline: 8px;
  font-size: 14px;
  background-color: #8f8f8f;
  transition: ease 0.3s;
  block-size: 30px;
  max-inline-size: 100%;
}

.search-input::placeholder {
  color: rgb(88, 88, 88);
  font-family: 'Roboto-light', sans-serif;
}

.search-input:focus-visible {
  color: var(--menu-color);
}

.search-field .btn {
  display: block;
  padding: 0;
  inline-size: 34px;
  block-size: 34px;
}

.search-btn {
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

.reset_search-btn {
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
}

.nav-btns_wrapper-mobile {
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, .3);
  background-color: rgba(0, 0, 0, .5);
}

.nav-btns_wrapper-mobile .btn {
  border-radius: 0;
  font-family: 'Roboto-medium';
  font-size: 14px;
  text-align: center;
}

.left-panel-wrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 20px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
    background-position: 100% 50%;
	}
  100% {
    background-position: 0% 50%;
  }
}

@media (768px <= width) {
  .cards__container-list {
    inline-size: 710px;
  }
}

@media (1105px <= width) {
  .cards__container-list {
    inline-size: 1075px;
  }
}

@media (1410px <= width) {
  .content-wrapper {
    grid-template-columns: 279px 1fr;
    gap: 40px;
    margin: 0 auto;
    padding-inline: 0;
    max-inline-size: 1440px;
  }

  .left-panel-wrapper {
    position: sticky;
    top: 30px;
    display: flex;
    flex-direction: column;
    justify-self: start;
    gap: 40px;
    align-self: start;
    block-size: 85vh;
  }

  .sorting__list {
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-self: start;
  }

  .mini-page_sorting-list {
    position: sticky;
    top: 30px;
    align-self: start;
  }

  .nav-btns_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .cards__container-list {
    justify-self: end;
    align-self: flex-start;
  }

  .search-field {
    justify-content: flex-start;
  }
}

@media (1440px <= width) {
  .content-wrapper {
    gap: 60px;
  }

  .cards__container-list {
    gap: 30px;
    inline-size: 1100px;
  }
}

@media (1900px <= width) {
  .nav-btns_wrapper-mobile {
    left: 13%;
  }
}

@media (2500px <= width) {
  .nav-btns_wrapper-mobile {
    left: 22.5%;
  }
}